* {
    margin: 0px;
    padding: 0px;
    
}

.container {
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #ccccff;
    border: 2px solid black;
}

.section {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.label {
    width: 100px;
    padding: 5px;
    text-align: left;
    display: inline;
}

#fname, #location, #language {
    width: 280px;
}

#comments {
    width: 280px;
    height: 180px;
}

#button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(203, 177, 221);
}

